<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
   <context:component-scan base-package="com.ptl.rbac.service"></context:component-scan>
   <!--配置事务管理器  -->
   <bean id="txMannager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <property name="dataSource" ref="dataSource"/>
  </bean>
  
  <tx:advice id="myAdvice" transaction-manager="txMannager">
     <tx:attributes>
       <tx:method name="save*" propagation="REQUIRED"></tx:method>
       <tx:method name="update*" propagation="REQUIRED"></tx:method>
       <tx:method name="delete*" propagation="REQUIRED"></tx:method>
       <tx:method name="select*" propagation="SUPPORTS"></tx:method>
     </tx:attributes>
  </tx:advice>
  
  <aop:config>
    <aop:pointcut expression="execution(* com.ptl.rbac.service.impl.*.*(..))" id="myPc"/>
    <aop:advisor advice-ref="myAdvice" pointcut-ref="myPc"/>
  </aop:config>
  
  </beans>